html, body{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background:#ffffff;
    margin: 0;
    padding: 0;
}
div{
	display: block;
}
h1, h2, h3, h4, h5, h6, a{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-weight: 700;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*header*/
.header_bottom{
	background-color: white;
	height:120px;
	border-bottom: solid;
	border-color: #2b2a2a;
	border-width: 1px;
}
.header-top{
	background-color: #2b2a2a;
	height: 60px;
	padding: 12px 0;
}
#logo{
	position: absolute;
	left: 3em;
	margin: 1em;

}
.topword{
	position: absolute;
	left: 50%;
	width: 50%;
	text-align: center;
	padding: 8px 0;
    color: white;
}
ul{
	margin: 0;
	padding: 0;
}
.topword ul li{
	display: inline-block;
	padding: 0em 1em;
	font-size: 14px;
}
.topword ul li a{
	font-size: 1em;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-weight: 400;
}

.view-cart i.fa {
    font-size: 30px;
    color: #ffffff;
}
button.view-cart {
    background: transparent;
    border: none;
}
button.view-cart:focus{
    outline:none;
}
.view-cart-main{
	float: right;
	padding-right: 120px;
	/*padding-top: 10px;*/
	/*bottom: 5px;*/
	/*position: relative;
	padding: 1em 5em;*/
}
.search_bar{
	float: right;
    width: 30%;
   /* margin: 2.5em 0 0;*/
   padding-top: 2.5em;
}
.search_bar input[type="search"] {
    width: 83%;
    padding: 10px;
    font-size: 16px;
    color: #999;
    outline: none;
    border: 1px solid #cccccc;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.search_bar  i.fa.fa-search {
  font-size: 17px;
	color:#fff;
}
button.btn.btn-default.search {
    background: #1ABC9C;
    padding: 12px;
    float: right;
    outline: none;
    border: none;
}
button.btn.btn-default.search:hover {
    background:#333;
}

/*footer*/
/*.footer_main{
  position: fixed;
  left: o;
  bottom: o;
  width: 100%;

}*/

#footer-bottom{
	margin:auto;
	text-align:center;
	padding:12px;
	height: 50px;
	width:100%;
	background-color: #333232;
}
#footer-bottom p {
	color: white;
	font-size: 1em;
	line-height: 1.8em;
}
#footer-bottom a {
	text-decoration: none;
	color: #1ABC9C
}

.clr { clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0px;
	line-height:0px;
} /*Clear both sides to assist with div alignment*/
.footertop {
	background:#2b2a2a;
	padding: 5em 0 2em;
	height: 350px;
	margin: 0 auto;
}
.container .footer_grid{
	margin-bottom: 3em;
}
.footer_grid h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 1.8em;
    text-transform: uppercase;
}
.footer_grid ul li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #afafaf;
    font-size: 14px;
}
.footer_grid ul.address li i {
    color:#1ABC9C;
    border: 1px solid #1ABC9C;
    padding: .5em;
    margin-right: 1em;
}
.footer_grid ul.address li span {
    display: block;
    margin-left: 3em;
}
.footer_grid ul li a {
    color: #afafaf;
    text-decoration: none;
}
.footer_grid ul li a:hover {
	color:#1ABC9C;
}
i.fa.fa-arrow-right {
    color: #1ABC9C;
    margin-right: 10px;
}
.col-md-3 footer_grid{
	-webkit-column-width: 100px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    column-width: 100px;
}

/*content*/
.main_content{
	width: 100%;
	height: 1500px;  /*height should be auto*/
	background-color: #ffffff;
	margin: auto;
}
.right_content{
	width: 80%;
	float: right;
	height: 1500px;
	background-color:#F2F3F4  ;
}




/*sidebar*/
.sidebar{
	width: 20%;
	float: left;
	height: 1500px;
	background-color: #1ABC9C;
}


/*.sidebar_title{
	text-align: center;
	color: #212121;
	padding: 15px;
	font-size: 30px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	border-bottom: solid;
	border-color: #2b2a2a;
	border-width: 2px;
}*/

/*registration_form*/

/*.reg_form {
 	background-color: #F7F7F9;
	padding: 40px;
	border-radius: 4px;
	max-width: 600px;
	margin: 40px auto;
}*/

#loginform{
  width: 30%;
  padding: 3em;
  background:#F7F7F9;
  margin:3em auto 0;
  border-radius: 9px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}


.reg_form_grid{
	width: 45%;
  padding: 3em;
	background:#F7F7F9;
	margin:3em auto 0;
  border-radius: 9px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);

}
.reg_form_grid ul{
  list-style-type: none;
}


.reg_form_grid input[type="submit"]{
	outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    display: block;
    width: 100%;
    background:#1ABC9C;
    margin: 1.5em 0 0;
}
.heading_reg{
	text-align: center;
    color: #212121;
    padding-bottom: .5em;
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}
.heading_reg:after{
	    content: '';
    background: #1ABC9C;
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 0%;
    left: 43%;

}
.reg{
	padding:3em 0;
}
/*lawran's block starts here*/
.form {
  padding: 20px;
	border-radius: 9px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	max-width: 600px;
	margin: 40px auto;

}
/*altering user profile form height */
#userprofileheight{
  height: 500px ;
}
/*select user css*/

.form a {
  background-color:#66CDAA;
  font-size: 15px;
  border-radius: 4px;
  color: white;
  padding: 5px 50px;
  cursor: pointer;
  display: inline;
  margin: auto 35px;

}

.form a:hover {
  background-color:#333;
  text-decoration: none;
  color: white;

}
.tablestyles td{
  padding: 10px;
  font-size: 15px ;
}

/*navigation bar css*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #66CDAA;
}

.navbar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

.navbar li a:hover {
    background-color: #555;
    color: white;

}

/*dropdown*/

.dropdown{
display: none;
width: 80%;

}

li:hover  .dropdown {
	display: block;

}

li{
  	position: relative;

  }
li .dropdown {
  	position: absolute;


  }

/*positioning dropdown*/

.dropdown {
  left: 100% ;
  top: 0% ;
}

/*adding hover effect*/

.navbar li:hover{
  background: #333 ;
}

.navbar li:hover > a {
  color:#fff ;
}

/*lawran's block end here*/

/*display products starts*/
#product_box{
  height: 1000px;   /*should be auto*/
  text-align: center;
  margin: 50px;

}
#single_product{
  float: left;
  margin-left: 30px;
  padding: 25px;
  border-style: solid;
  border-width: 1px;
}
#single_product a {
  color: black;
  text-decoration: none;
}


 /*display products end here*/


/*pagination start*/

/*.pagination{
    margin:0;
    padding:0;
}
.pagination li{
    display: inline;
    padding: 6px 10px 6px 10px;
    border: 1px solid #ddd;
    margin-right: -1px;
    font: 13px/20px Arial, Helvetica, sans-serif;
    background: #FFFFFF;
}
.pagination li a{
    text-decoration:none;
    color: rgb(89, 141, 235);
}
.pagination li.first {
    border-radius: 5px 0px 0px 5px;
}
.pagination li.last {
    border-radius: 0px 5px 5px 0px;
}
.pagination li:hover{
    background: #EEE;
}

.pagination li.current {
    background: #89B3CC;
    border: 1px solid #89B3CC;
    color: #FFFFFF;
}
*/
/*pagination end*/


/*shopping cart */
#checkbox{
  height: auto;
  padding:20px;
  margin: 30px;
  width: auto;
  background-color: #e6e6e6;
}
#checkbox p{
  padding-top: 5px;
}

.box-footer{
  background-color: #F7F7F9;
  height: 70px;
  padding: 20px;

}
.checkbox1{
  padding: 40px;
  width: auto;
  background-color: #e6e6e6;
  margin: 100px 30 30 100;

}
